@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

h1 {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

body {
  background-color: grey;
  margin: 20px;
  color: white;
}

li {
  font-size: 18px;
  border: dashed 1px black;
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
}


/* NEW CODE:
- Changes the link color 
to orange when you hover over them.
- Learned from Codeacademy.
*/
a:hover {
  color: orange;
}